.row {
  margin-bottom: 15px;
}

.heroImage {
  border-radius: 5px;
}

.col-md-6 {
  width:49%;
  display:inline-block;
}

.navbar {
  margin-bottom: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#superheromap {
  height: 90vh !important;
}